<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>services.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Confirmation</servlet-name>
        <servlet-class>services.Confirmation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>services.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookTable</servlet-name>
        <servlet-class>services.BookTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>services.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartManager</servlet-name>
        <servlet-class>services.CartManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Remove</servlet-name>
        <servlet-class>services.Remove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionTable</servlet-name>
        <servlet-class>services.PromotionTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserTable</servlet-name>
        <servlet-class>services.UserTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromoCheck</servlet-name>
        <servlet-class>services.PromoCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceOrder</servlet-name>
        <servlet-class>services.PlaceOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderTable</servlet-name>
        <servlet-class>services.OrderTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResult</servlet-name>
        <servlet-class>services.SearchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccount</servlet-name>
        <servlet-class>services.MyAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccountAddress</servlet-name>
        <servlet-class>services.MyAccountAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccountEmail</servlet-name>
        <servlet-class>services.MyAccountEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccountName</servlet-name>
        <servlet-class>services.MyAccountName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccountPhone</servlet-name>
        <servlet-class>services.MyAccountPhone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccountPayment</servlet-name>
        <servlet-class>services.MyAccountPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccountPassword</servlet-name>
        <servlet-class>services.MyAccountPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccountPromotion</servlet-name>
        <servlet-class>services.MyAccountPromotion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotEmail</servlet-name>
        <servlet-class>services.ForgotEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reset</servlet-name>
        <servlet-class>services.Reset</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/registered</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Confirmation</servlet-name>
        <url-pattern>/confirmation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookTable</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartManager</servlet-name>
        <url-pattern>/cartmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remove</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionTable</servlet-name>
        <url-pattern>/promotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserTable</servlet-name>
        <url-pattern>/userTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromoCheck</servlet-name>
        <url-pattern>/promocheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceOrder</servlet-name>
        <url-pattern>/placeorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderTable</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResult</servlet-name>
        <url-pattern>/searchresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccount</servlet-name>
        <url-pattern>/myaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccountAddress</servlet-name>
        <url-pattern>/myaccountaddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccountEmail</servlet-name>
        <url-pattern>/myaccountemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccountName</servlet-name>
        <url-pattern>/myaccountname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccountPhone</servlet-name>
        <url-pattern>/myaccountphone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccountPayment</servlet-name>
        <url-pattern>/myaccountpayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccountPassword</servlet-name>
        <url-pattern>/myaccountpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccountPromotion</servlet-name>
        <url-pattern>/myaccountpromotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotEmail</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reset</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>lets.get.thrifty.site@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>Example!</param-value>
    </context-param>
</web-app>
